@using InanceModels.DTOs;
@model ServiceDto;
<div class="container mt-5">
    <h1 class="text-center mb-4">Add Service</h1>
    <form method="POST">

        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" asp-for="Title" placeholder="Enter title (e.g., Graphic Designer)" required>
        </div>


        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea class="form-control" id="description" asp-for="Description" rows="2" placeholder="Enter a short description" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary w-100">Əlavə et</button>
    </form>
</div>